[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
configobj = "==5.0.6"
cssmin = "==0.2.0"
gunicorn = "==19.9.0"
jsmin = "==2.2.2"
Flask = "==1.1.1"
Flask-Assets = "==0.12"
Flask-DebugToolbar = "==0.10.1"
"e1839a8" = {path = ".", editable = true}

[dev-packages]

[requires]
python_version = "3.7"
