article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
html,button,input,select,textarea{font-family:sans-serif;}
body{margin:0;}
a:focus{outline:thin dotted;}
a:active,a:hover{outline:0;}
h1{font-size:2em;margin:0.67em 0;}
h2{font-size:1.5em;margin:0.83em 0;}
h3{font-size:1.17em;margin:1em 0;}
h4{font-size:1em;margin:1.33em 0;}
h5{font-size:0.83em;margin:1.67em 0;}
h6{font-size:0.75em;margin:2.33em 0;}
b,strong{font-weight:bold;}
blockquote{margin:1em 40px;}
p{margin:1em 0;}
small{font-size:80%;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
dl,menu,ol,ul{margin:1em 0;}
dd{margin:0 0 0 40px;}
menu,ol,ul{padding:0 0 0 40px;}
nav ul,nav ol{list-style:none;list-style-image:none;}
img{border:0;-ms-interpolation-mode:bicubic;}
figure{margin:0;}
form{margin:0;}
fieldset{border:0;margin:0;padding:0;}
legend{border:0;padding:0;white-space:normal;*margin-left:-7px;}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}
button,input{line-height:normal;}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible;}
button[disabled],input[disabled]{cursor:default;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0;}
.container_16{margin:0 auto;width:960px;overflow:hidden;clear:both;}
.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12,.grid_13,.grid_14,.grid_15,.grid_16{display:inline;float:left;margin-left:10px;margin-right:10px;}
.push_1,.pull_1,.push_2,.pull_2,.push_3,.pull_3,.push_4,.pull_4,.push_5,.pull_5,.push_6,.pull_6,.push_7,.pull_7,.push_8,.pull_8,.push_9,.pull_9,.push_10,.pull_10,.push_11,.pull_11,.push_12,.pull_12,.push_13,.pull_13,.push_14,.pull_14,.push_15,.pull_15,.push_16,.pull_16{position:relative;}
.alpha{margin-left:0;}
.omega{margin-right:0;}
.grid_1{width:40px;}
.grid_2{width:100px;}
.grid_3{width:160px;}
.grid_4{width:220px;}
.grid_5{width:280px;}
.grid_6{width:340px;}
.grid_7{width:400px;}
.grid_8{width:460px;}
.grid_9{width:520px;}
.grid_10{width:580px;}
.grid_11{width:640px;}
.grid_12{width:700px;}
.grid_13{width:760px;}
.grid_14{width:820px;}
.grid_15{width:880px;}
.grid_16{width:940px;}
.prefix_1{padding-left:60px;}
.push_2{left:120px;}
.img{background:transparent url(../images/sprite_site.png) no-repeat;display:block;}
.rep{background:transparent url(../images/sprite_x_repeat.png) repeat-x;display:block;}
html,body{height:100%;}
body{margin:0;min-width:960px;font:100% Arial,Helvetica,sans-serif;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-o-user-select:none;-ms-user-select:none;user-select:none;}
a{color:#00e;}
.hide{visibility:hidden;position:absolute;}
input,textarea{outline:none;}
.book{width:940px;height:240px;width:960px;margin-bottom:-30px;}.book p{font:italic 18pt Georgia,Helvetica,sans-serif;margin:20px 10px 20px 0;color:#322d30;}
.book form{margin-top:20px;}
.book .name,.book .email,.book .msg{border:0;color:#322d30;font:italic 10pt Georgia,Helvetica,sans-serif;background:transparent url(../images/static/input_bg.png) repeat;margin-right:10px;padding-left:2px;}
.book .name,.book .email{height:25px;width:190px;}
.book .msg{margin-top:20px;line-height:24px;width:302px;height:105px;}
.book .submit{height:81px;width:80px;margin-top:40px;border:1px solid #C7C6C7;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;-webkit-box-shadow:inset 0 0 10px #d8d8d8;-moz-box-shadow:inset 0 0 10px #d8d8d8;box-shadow:inset 0 0 10px #d8d8d8;background:#fff;background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#eeeeee));background:-webkit-linear-gradient(top, #ffffff, #eeeeee);background:-moz-linear-gradient(top, #ffffff, #eeeeee);background:-o-linear-gradient(top, #ffffff, #eeeeee);background:-ms-linear-gradient(top, #ffffff, #eeeeee);background:linear-gradient(top, #ffffff, #eeeeee);font:italic 10pt Georgia,Helvetica,sans-serif;font-weight:bold;text-decoration:underline;}
@keyframes bounce{from{top:-10px;} to{top:5px;}}@-moz-keyframes bounce{from{top:-10px;} to{top:5px;}}@-webkit-keyframes bounce{from{top:-10px;} to{top:5px;}}.git{position:fixed;top:0;right:0;z-index:99;}.git .img{overflow:hidden;text-indent:-900px;background-position:0px -560px;width:141px;height:140px;}
.outer{background:transparent url(../images/static/header_bg.jpg) repeat-x;height:320px;width:100%;}
.up .outer{margin-top:-210px;}
.up .ribbon{cursor:s-resize;margin-top:-10px;}
.cssanimations .up .ribbon.animate{animation:bounce 0.5s infinite alternate;-moz-animation:bounce 0.5s infinite alternate;-webkit-animation:bounce 0.5s infinite alternate;-ms-animation:bounce 0.5s infinite alternate;}
.main_header{position:relative;min-height:135px;}.main_header hgroup{height:105px;}.main_header hgroup .page_title{font:40pt 'Oleo Script Swash Caps',cursive,Arial;margin:0;color:#e8e8e8;text-shadow:#333 2px 2px 0;position:absolute;bottom:9px;}
.main_header hgroup .subheader{font:10pt Arial,Tahoma,sans-serif;margin-top:4px;color:#444;position:absolute;bottom:0;margin:0;}
.main_header .ribbon{background-position:-814px -240px;width:62px;height:133px;position:absolute;left:53px;}
.wrapper{min-height:100%;position:relative;}
.main{margin:150px 0 50px 0;}.main .external{background:url(../images/static/external.gif) no-repeat scroll right 2px transparent;padding:0 15px 0 0;}
.main header{overflow:hidden;margin:0 auto;float:none;display:block;}.main header .left,.main header .right{margin-top:10px;}
.main header .left{background-position:-876px -335px;width:53px;height:38px;float:left;}
.main header .book_title{font:italic 34pt Georgia,Helvetica,sans-serif;text-align:center;text-shadow:#7C7C7C 1px 1px 0;padding-left:30px;display:inline;}
.main header .right{background-position:-876px -297px;width:53px;height:38px;float:right;}
.main nav{background-position:0px -240px;width:814px;height:320px;margin:90px auto 0 auto;}
.main .menu{position:relative;}.main .menu a{display:block;text-indent:-990px;overflow:hidden;position:absolute;}
.main .menu .work{left:133px;top:15px;width:52px;height:216px;}
.main .menu .bts{left:239px;top:11px;width:76px;height:221px;}
.main .menu .git{left:376px;top:12px;width:88px;height:220px;}
.main .menu .about{left:540px;top:16px;width:68px;height:216px;}
.main .menu .projects{left:646px;top:17px;width:30px;height:217px;}
.main .gallery li{float:left;width:33%;}
.main .gallery img{width:130px;height:90px;}
.main .main_content{margin:40px auto 0 auto;display:block;float:none;}.main .main_content article{overflow:hidden;}
.main .main_content h2{font-weight:bold;font-size:30pt;margin:0;}
.main .main_content h2,.main .main_content h3,.main .main_content h4{text-shadow:0 1px 0 #fff;}
.main .main_content h3{font-size:20pt;margin:25px 0 0 0;}
.main .main_content h4{margin-bottom:-10px;}
.main .main_content ol,.main .main_content ul{padding:0;list-style-type:none;}
.main .main_content figure{margin-top:1em;padding:1px;border:1px solid #ccc;overflow:hidden;position:relative;}.main .main_content figure img{float:left;}
.main .main_content figure:hover>figcaption{bottom:1px;}
.main .main_content figure figcaption{position:absolute;bottom:-25px;text-align:center;width:396px;font:9pt Arial,Helvetica,sans-serif;background:#333;padding:4px 0;color:#fff;-webkit-transition:bottom 0.3s ease-in-out;-moz-transition:bottom 0.3s ease-in-out;-o-transition:bottom 0.3s ease-in-out;-ms-transition:bottom 0.3s ease-in-out;transition:bottom 0.3s ease-in-out;-moz-opacity:0.8;filter:alpha(opacity=0.8);opacity:0.8;}
.main .main_content aside{margin-top:20px;float:right;}.main .main_content aside figure{float:right;margin:0;}
.main .main_content aside figcaption{width:120px;}
.main .main_content p,.main .main_content li{font:11pt Arial, Tahoma, Verdana;color:#575757;line-height:21px;margin:1.25em 0;}
.main .company-list .item{text-align:center;}
.footer{position:absolute;bottom:-210px;width:100%;overflow:hidden;background-position:0 0;height:66px;}.footer .container_16{overflow:visible;}
.footer .inner{width:920px;height:45px;float:left;position:relative;background:#fff;-webkit-box-shadow:0px 3px 10px 0px rgba(0, 0, 0, 0.6);-moz-box-shadow:0px 3px 10px 0px rgba(0, 0, 0, 0.6);box-shadow:0px 3px 10px 0px rgba(0, 0, 0, 0.6);-webkit-border-radius-bottomright:5px;-moz-border-radius-bottomright:5px;border-bottom-right-radius:5px;-webkit-border-radius-bottomleft:5px;-moz-border-radius-bottomleft:5px;border-bottom-left-radius:5px;}
.footer .menu{margin-top:10px;padding:0;}.footer .menu li{float:left;width:20%;text-align:center;}.footer .menu li a{font:italic 11pt Georgia,Helvetica,sans-serif;color:#666;text-decoration:none;}.footer .menu li a:hover{text-decoration:underline;}
.footer .menu li .icon{background-position:-876px -240px;width:49px;height:57px;position:absolute;text-indent:-500px;overflow:hidden;top:0;margin-left:50px;}
#fancybox-loading{position:fixed;top:50%;left:50%;width:40px;height:40px;margin-top:-20px;margin-left:-20px;cursor:pointer;overflow:hidden;z-index:1104;display:none;}
#fancybox-loading div{position:absolute;top:0;left:0;width:40px;height:480px;background-image:url('../images/static/fancybox.png');}
#fancybox-overlay{position:absolute;top:0;left:0;width:100%;z-index:1100;display:none;}
#fancybox-tmp{padding:0;margin:0;border:0;overflow:auto;display:none;}
#fancybox-wrap{position:absolute;top:0;left:0;padding:20px;z-index:1101;outline:none;display:none;}
#fancybox-outer{position:relative;width:100%;height:100%;background:#fff;}
#fancybox-content{width:0;height:0;padding:0;outline:none;position:relative;overflow:hidden;z-index:1102;border:0px solid #fff;}
#fancybox-hide-sel-frame{position:absolute;top:0;left:0;width:100%;height:100%;background:transparent;z-index:1101;}
#fancybox-close{position:absolute;top:-15px;right:-15px;width:30px;height:30px;background:transparent url('../images/static/fancybox.png') -40px 0px;cursor:pointer;z-index:1103;display:none;}
#fancybox-error{color:#444;font:normal 12px/20px Arial;padding:14px;margin:0;}
#fancybox-img{width:100%;height:100%;padding:0;margin:0;border:none;outline:none;line-height:0;vertical-align:top;}
#fancybox-frame{width:100%;height:100%;border:none;display:block;}
#fancybox-left,#fancybox-right{position:absolute;bottom:0px;height:100%;width:35%;cursor:pointer;outline:none;background:transparent;z-index:1102;display:none;}
#fancybox-left{left:0px;}
#fancybox-right{right:0px;}
#fancybox-left-ico,#fancybox-right-ico{position:absolute;top:50%;left:-9999px;width:30px;height:30px;margin-top:-15px;cursor:pointer;z-index:1102;display:block;}
#fancybox-left-ico{background-image:url('../images/static/fancybox.png');background-position:-40px -30px;}
#fancybox-right-ico{background-image:url('../images/static/fancybox.png');background-position:-40px -60px;}
#fancybox-left:hover span{left:20px;}
#fancybox-right:hover span{left:auto;right:20px;}
.fancybox-bg{position:absolute;padding:0;margin:0;border:0;width:20px;height:20px;z-index:1001;}
#fancybox-bg-n{top:-20px;left:0;width:100%;background-image:url('../images/static/fancybox-x.png');}
#fancybox-bg-ne{top:-20px;right:-20px;background-image:url('../images/static/fancybox.png');background-position:-40px -162px;}
#fancybox-bg-e{top:0;right:-20px;height:100%;background-image:url('../images/static/fancybox-y.png');background-position:-20px 0px;}
#fancybox-bg-se{bottom:-20px;right:-20px;background-image:url('../images/static/fancybox.png');background-position:-40px -182px;}
#fancybox-bg-s{bottom:-20px;left:0;width:100%;background-image:url('../images/static/fancybox-x.png');background-position:0px -20px;}
#fancybox-bg-sw{bottom:-20px;left:-20px;background-image:url('../images/static/fancybox.png');background-position:-40px -142px;}
#fancybox-bg-w{top:0;left:-20px;height:100%;background-image:url('../images/static/fancybox-y.png');}
#fancybox-bg-nw{top:-20px;left:-20px;background-image:url('../images/static/fancybox.png');background-position:-40px -122px;}
#fancybox-title{font-family:Helvetica;font-size:12px;z-index:1102;}
.fancybox-title-inside{padding-bottom:10px;text-align:center;color:#333;background:#fff;position:relative;}
.fancybox-title-outside{padding-top:10px;color:#fff;}
.fancybox-title-over{position:absolute;bottom:0;left:0;color:#FFF;text-align:left;}
#fancybox-title-over{padding:10px;background-image:url('../images/static/fancy_title_over.png');display:block;color:#fff;-webkit-border-radius-bottomright:10px;-moz-border-radius-bottomright:10px;border-bottom-right-radius:10px;-webkit-border-radius-bottomleft:10px;-moz-border-radius-bottomleft:10px;border-bottom-left-radius:10px;}
.fancybox-title-float{position:absolute;left:0;bottom:-20px;height:32px;}
#fancybox-title-float-wrap{border:none;border-collapse:collapse;width:auto;}
#fancybox-title-float-wrap td{border:none;white-space:nowrap;}
#fancybox-title-float-left{padding:0 0 0 15px;background:url('../images/static/fancybox.png') -40px -90px no-repeat;}
#fancybox-title-float-main{color:#FFF;line-height:29px;font-weight:bold;padding:0 0 3px 0;background:url('../images/static/fancybox-x.png') 0px -40px;}
#fancybox-title-float-right{padding:0 0 0 15px;background:url('../images/static/fancybox.png') -55px -90px no-repeat;}
@media print{body{width:96%;background:#fff;font-size:12pt;margin:0 auto;} h2,h3,p{font:'Times new roman',Georgia,sans-serif;color:#000;} h1{font:bold 24pt Arial,Helvetica,sans-serif;color:#000;margin:0;} hgroup h2{font-size:12pt;margin-top:2pt;} h3{font-size:16pt;} hgroup{border-bottom:1px solid #000;margin-bottom:15pt;} #content h2{font-size:20pt;margin:0 0 2pt 0;} #content h3{font-size:14pt;margin:4pt 0 0 1pt;} figure{margin:5pt 0 0 0;} aside figure{margin:0;} article{border-bottom:1px solid #666;margin-bottom:5pt;padding-bottom:20pt;} article:last-child{border:0;} article img{border:1px solid #666;} a{color:#00e;} a:after{content:" <" attr(href) "> ";color:#666;font-style:italic;font-weight:normal;} .book,.git,.ribbon,section>header,.books,nav,article figcaption,footer{display:none;}}
