{% extends "include/main.html" %}

{% block title %} {{ page_title }} {% endblock %}

{% block content %}
<h2>About me</h2>
<article>
	<header>
			<h3>Personal</h3>
	</header>
	<div class="grid_7 alpha">
		<p>
			My name is Andrej Babic and I'm a webdeveloper located in Stockholm, Sweden. I have a history in Stockholm University, where I studied Computer Science for four years.
		</p>
	</div>
	<aside class="grid_3 omega" role="complementary">
		<figure>
			<img src="{{ url_for('static', filename='images/static/about_map.jpg') }}" width="120" height="120" alt="" />
			<figcaption>Sthlm, Sweden</figcaption>
		</figure>
	</aside>
</article>
<article>
	<header>
			<h3>Skills</h3>
	</header>
	<div class="grid_7 alpha">
		<h4>Frontend</h4>
		<p>
			HTML5, CSS3, Javascript, LESS, jQuery, Modernizr, Handlebars.js, Backbone, Require.js, canvas, JSON, XML, AJAX, SVG, Markdown
		</p>
		<h4>Frontend techniques</h4>
		<p>
			Sprites, data-uri, accessibility, UX, responsive design, A/B testing, tableless design, SEO, grid system, print, cross-browser compatibility, fallbacks
		</p>
		<h4>Backend</h4>
		<p>
			PHP, Python, Django, MySQL, PostgreSQL, Redis...
		</p>
		<p>
			<b>For more skills, contact me for a CV.</b>
		</p>
	</div>
	<aside class="grid_3 omega" role="complementary">
		<figure>
			<img src="{{ url_for('static', filename='images/static/ninja.jpg') }}" width="120" height="120" alt="" />
			<figcaption>Skillset</figcaption>
		</figure>
	</aside>
</article>
<article>
	<header>
			<h3>Contact</h3>
	</header>
	<div class="grid_7 alpha">
		<p>
			You can contact me by using the form which is presented if you pull the ribbon.
		</p>
	</div>
</article>
{% endblock %}
