{% extends "include/main.html" %}

{% block title %} {{ page_title }} {% endblock %}

{% block content %}
<h2>About me</h2>
<article>
	<header>
			<h3>Personal</h3>
	</header>
	<div class="grid_7 alpha">
		<p>
			My name is Andrej Babic and I'm an engineer located in Stockholm, Sweden. I have a history in Stockholm University, where I studied Computer Science for four years.
		</p>
	</div>
	<aside class="grid_3 omega" role="complementary">
		<figure>
			<img src="{{ url_for('static', filename='images/static/about_map.jpg') }}" width="120" height="120" alt="" />
			<figcaption>Sthlm, Sweden</figcaption>
		</figure>
	</aside>
</article>
<article>
	<header>
			<h3>Skills</h3>
	</header>
	<div class="grid_7 alpha">
		<p>
			I create beautiful looking web apps with high performance and availablility in mind. Feel free to check out my
			work on this site.
		</p>
		<p>
			Please contact me for a CV.
		</p>
	</div>
</article>
{% endblock %}
