
{% extends "include/main.html" %}

{% block title %} {{ page_title }} {% endblock %}

{% block content %}
<h2>Open source projects</h2>
<article>
	<div class="grid_7 alpha">
	<p>
		All open source projects listed below are available on&nbsp;<a href="https://github.com/bluecap-se?tab=repositories" target="_blank" class="external" title="Visit repositories on Github">Github</a>
	</p>

	<header>
		<h3>Sneak</h3>
	</header>
		<p>
			A version of the famous snake game that we used to love and play on our Nokia phones, but this time in your terminal. Download the project from PyPi.
		</p>
		<p>
			<a href="https://pypi.org/project/sneak-game/" target="_blank" class="external" title="Visit project on PyPi">Visit project on PyPi</a>
		</p>
	</div>
    <aside class="grid_3 omega" role="complementary">
        <figure>
            <img src="{{ url_for('static', filename='images/static/open-source.png') }}" width="120" height="120" alt="" />
            <figcaption>Open source</figcaption>
        </figure>
    </aside>
</article>

<article>
	<header>
		<h3>MiniMe</h3>
	</header>
	<div class="grid_7 alpha">
		<p>
			MiniMe is a link shortening web app similar to Bitly. It utilises a Django Rest Framework backend with Python 3, Redis and Docker.
		</p>
		<p>
			Frontend is built with Bootstrap, Vue.js and Less css. The project is published on Heroku infrastructure.
		</p>
		<p>
			<a href="http://minime.bluecap.se" target="_blank" class="external" title="Visit minime.bluecap.se">Visit minime.bluecap.se</a>
		</p>
	</div>
</article>

<article>
	<header>
		<h3>Portfolio</h3>
	</header>
	<div class="grid_7 alpha">
		<p>
			This website. Running a Python Flask server in Docker. It is statically published on Github Pages.
		</p>
		<p>
			<a href="https://portfolio.bluecap.se" target="_blank" class="external" title="Visit portfolio.bluecap.se">Visit portfolio.bluecap.se</a>
		</p>
	</div>
</article>

<article>
	<header>
		<h3>Yarr!</h3>
	</header>
	<div class="grid_7 alpha">
		<p>
			Yarr! is a small project that adds (another) 'I am lucky'-feature to The Pirate Bay.
		</p>
		<p>
			The client is done in Python and published on PyPi.<br>The backend is done in Node.js and is published to NPM.
		</p>
		<p>
			<a href="https://pypi.org/project/yarr.client/" target="_blank" class="external" title="Visit client project on PyPi">Visit client project on PyPi</a><br>
			<a href="https://www.npmjs.com/package/yarr" target="_blank" class="external" title="Visit backend project on NPM">Visit backend project on NPM</a>
		</p>
	</div>
</article>
{% endblock %}
